[2021-02-13 17:11] bmtheo commented on #216
Any chance you give us a repro ?

I tried on stackblitz and for me it works perfectly fine
https://stackblitz.com/edit/ngx-logger-4-1-with-angular-11?file=src/app/app.component.ts

[2021-02-13 17:34] bmtheo commented on #217
this will be fixed by #225 (it also includes the same for serverLogLevel)

[2021-02-13 17:35] bmtheo commented on #218
Any chance you give us a repro, I'm not quite sure I understand why the DatePipe is needed in the module

[2021-02-13 18:08] bmtheo commented on #220
I'm not sure why a callback would be of any use here and why don't you display the message in a toast right after your logger call ?

Alternatively, there is the NGXLoggerMonitor that lets you do something for every log call, would that help you ?

[2021-02-19 15:34] bmtheo commented on #174
ok #192 is merged now so I close this issue

[2021-02-19 15:34] #174 closed

[2021-02-19 15:35] bmtheo commented on #175
#192 just got merged so I close this issue

[2021-02-19 15:35] #175 closed

[2021-02-19 15:38] bmtheo commented on #215
I am closing this issue as the use case has a workaround and the monitor should not shadow the server log
I'll have a look if I can improve the doc and the way of overriding the logger behavior

[2021-02-19 15:38] #215 closed

[2021-02-19 15:41] bmtheo commented on #216
Ok I just tried locally (to avoid any stackblitz specific behavior) and it works fine as well
I'm closing this issue

@nimishdesai1989 if you can give us more info (a reproduction would be best) I will reopen this issue

[2021-02-19 15:41] #216 closed

[2021-02-19 15:48] #217 closed

[2021-02-19 16:25] #213 closed

[2021-02-19 21:00] Jonesie opened #227 "Weird request for map"
In FireFox Im seeing mangled requests to main.map in the console.  Works ok in Chrome.  According to the angular people, this is coming from ngx-logger.  Not a show stopped but strange.

See https://github.com/angular/angular-cli/issues/20085

[2021-02-19 21:14] bmtheo commented on #227
Just to make sure the analysis of the problem is right, can you try and set the enableSourceMaps to false in your LoggerConfig please ?

Here is an example on how to do it

[code]

[2021-02-20 02:06] Jonesie commented on #227
Yes, turning source maps off fixes it.
Actually, having it turned on is not much use either, I guess because it didnt load:

![image](https://user-images.githubusercontent.com/3420249/108579645-cd2fa700-738c-11eb-814e-55d143736270.png)

In Chrome it works fine:
![image](https://user-images.githubusercontent.com/3420249/108579717-15e76000-738d-11eb-8c57-2c33fc9e0570.png)

I should only have them tu

[2021-02-20 02:10] Jonesie commented on #227
Also worth noting, I had ngx-logger before NG 11 but it wasnt configured or used correct so probably nothing to do with the NG 11 update. Maybe.

[2021-02-20 13:57] bmtheo commented on #227
Ok just tested on last version of firefox and I get the same results so I renamed your issue

[2021-02-21 21:46] bmtheo opened #229 "Bump angular to last version (and other dependencies)"
It would be good to bump all the dependencies

We are using Angular 8 when Angular is 11 is available

EDIT : work has started in bump-deb-ang-11 branch

[2021-02-22 17:04] bmtheo commented on #187
@Epsiom #228 that just got merged fixes some issues with firefox logs, it might be enough for what you needed

[2021-02-22 17:14] bmtheo commented on #185
@mario45211 the monitor is not supposed to edit the log behavior, it's just here so we can add behaviors

There is a way to do what you want, by disabling logs and logging it yourself in the monitor, ask me if you want an example (this is not perfect but this is the only way for now)

[2021-02-22 19:13] Jonesie commented on #227
Nice work!  Thank you :)

[2021-02-22 19:40] Jonesie commented on #227
Oh, actually, I don't think it's fixed.  I updated to 4.2.0 using FF 85.0.2 and still the same console error :/  I can deploy my test site again later.

[2021-02-22 20:21] bmtheo commented on #227
It's normal it was not part of the last publish, @qortex is on the next publish

If you want the fix faster, you need to checkout the repo and build it yourself so you can ref the package locally

[2021-02-22 22:21] Jonesie commented on #227
Ok, no worries.  I'll be more patient :)

[2021-02-23 06:29] #177 closed

[2021-02-23 08:34] qortex commented on #229
You're talking about the demo app right?

[2021-02-23 08:42] qortex commented on #219
With the recently released features, you can achieve that by doing:
- `disableFileDetails: true` in the logger. That removes the file information
- use a custom logger that proxies the logger call, and transforms it like
[code]

Would that work for you?

My opinion is that it's preferrable to do it this way because it brings lots of flexibility to the user, rather than bake a specific callback int

[2021-02-23 08:48] qortex commented on #218
@bmtheo That's because of #160 & subsequent where we introduced the `DatePipe` to customize timestamps.

I'm not familiar with `forRoot` & `forChild` though. I added `DatePipe` to the `providers` for `LoggerModule`. @Gromov-Roman , do you mean it shoud also be added to `providers` in `forRoot` and `forChild`, or should it be imported?

See https://github.com/dbfannin/ngx-logger/blob/master/src/lib

[2021-02-23 08:50] qortex commented on #196
Does the just released `proxiedSteps` feature solve your issue by allowing to see the right caller?

As for the `ng build` part, unfortunately the file information might be lost along the way when code optimization kicks in, it would need some investigation depending on your first results I guess.

[2021-02-23 08:52] qortex commented on #187
Closing this since v4.2.0 & upcoming v4.2.1 should fix this. Fixed by #230 & #231 .
Please open a new issue if it's not the case.

[2021-02-23 08:52] #187 closed

[2021-02-23 21:15] bmtheo commented on #229
I'm talking about the dependencies in the package.json file

I made a branch to start updating this (see bump-dep-ang-11)

It's not a PR yet because I still have those checks to do :
- build
- tests
- tsickle is not ready yet for typescript 4, should we wait ?
- demo app
- Angular's NPM packages no longer contain jsdoc comments, which are necessary for use with closure compiler (extremely uncommon

[2021-02-24 17:34] iva2k commented on #220
The point of a toast would be to insert debugging on e.g. a mobile device, where console is not easily accessible.

Inserting lines after logger and then removing is not ideal. Inserting a single callback is, as all code that is already instrumented with logger code does not have to be touched. Callback is a simple way to extend functionality beyond what is provided.

[2021-03-01 14:39] mario45211 commented on #185
@HackPoint sorry for the very late answer, I must miss some notification ;(
Could you clarify what you mean by "ppl to get to your logs" ?

@bmtheo "the monitor is not supposed to edit the log behavior" - that's understandable.
This issue is just an ask for a "nice-to-have" feature, which I'm familiar from Java's SLF4J lib (not sure it's should be labelled as ~bug). Logging object's details is som

[2021-03-03 20:41] Tobias243 opened #233 "Fyi: error NG6002"
I do not know if this belongs here, so sorry if this is unnecessary but since i saw someone with a similar issue i thought i might post it.

After adding the logger i hat the same Issue as [#Issue-216](https://github.com/dbfannin/ngx-logger/issues/216).

Fix that worked for me: delete the node_modules folder and run a new install.

I am aware, this has nothing to do with your Code (big fan btw) bu

[2021-03-08 14:42] xinthose commented on #229
**ng update @angular/core @angular/cli**
[code]

[2021-03-08 15:01] bmtheo commented on #229
Yes this issue will fix this error

You can force the update and everything works fine

[2021-04-02 09:54] Ximena-con opened #236 "can't post log to API"
Hi , I am having issues writing to the server, the post request failed, and this is the screenshots：
![image](https://user-images.githubusercontent.com/81148098/113404778-4d5d1980-93db-11eb-86a5-fe6f005c75bf.png)

I set my log API model follows the NGXLogInterface, but I can't get the parameter successfully.
![image](https://user-images.githubusercontent.com/81148098/113404895-7c738b00-93db-11eb-9

[2021-04-03 19:30] maplion opened #237 "Debug Level Not Printing to Console"
I just began using ngx-logger as it seems to have the features I desire, but for some reason the debug level isn't working at all.  The rest of the levels print fine.  Here is an example of each level printed out with its name

[code]

and here are the results -- as you can see, debug didn't even print:

![image](https://user-images.githubusercontent.com/8908849/113489306-b9458d80-9480-11eb-9eb1-4

[2021-04-03 19:37] bmtheo commented on #237
You need to enable verbose mode in your browser to see the debug level
This is the way browsers handle the debug level

[2021-04-03 19:47] maplion commented on #237
@bmtheo Good to know, thanks for the info.

[2021-04-03 19:47] #237 closed

[2021-04-05 05:04] Ximena-con commented on #236
emmm, my demo is sample, but my API can't get the request body from the post , any suggestions are welcome~

[2021-04-05 08:28] Ximena-con commented on #236
it resolved, according of the request payload, we need to set the "Additional" as model too.
![image](https://user-images.githubusercontent.com/81148098/113554483-fdc15c80-962b-11eb-802d-f90658159ac5.png)

[2021-04-05 08:28] #236 closed

[2021-04-07 06:27] Ximena-con commented on #205
Hi @MarvinBerger ,  I want to implement the auto-handle of  exception, could you give more details? thanks ~

[2021-04-16 19:54] jllodra commented on #119
I know this issue is quite old but I developed this very simple node endpoint that persists logs to a file.

https://github.com/atlantis-of-code/ngx-logger-backend

Just in case if it's of any help to anybody.

[2021-04-22 11:04] bjorntj commented on #23
Any way to use custom http headers without calling it everytime one uses it? I.e. globally somehow?

[2021-04-22 11:22] bmtheo commented on #23
This does it for the current instance of the logger

If you provide the logger only once it does it globally

Did you check how you provided it ?

[2021-04-22 11:38] bjorntj commented on #23
ok... but I guess I need this as an interceptor, because the api key changes so the header really needs to be added via an interceptor with updated api key.. So any plans to change httpbackend to httpclient?

[2021-04-22 12:06] bmtheo commented on #23
Ah ok then it's different, as far as I know it's not possible yet, you can create an issue as a feature request

[2021-04-22 12:11] bjorntj opened #239 "Move away from HttpBackend to HttpClient?"
Moving away from HttpBackend would make it possible to use interceptors to add headers for every call, which is needed when using API keys/tokens that is refreshed all the time.

[2021-04-29 06:29] pcouas opened #241 "Angular11 build failed webpack\src\ivy\loader.js"
Hi

I have just added your last version in an new simple project created with "ng new log3" and complilation failed

Module build failed (from C:/loggers/log3/node_modules/@ngtools/webpack/src/ivy/index.js):
Error: C:\loggers\log3\src\main.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.
    at C\loggers\log3\node_modules

[2021-04-30 14:11] jschank opened #242 "Demo App - debug messages never appear"
Tried using the demo app, and when I do, Debug level messages never appear in the console.
Regardless of setting to Trace, or Debug

[2021-04-30 15:03] bmtheo commented on #242
You need to enable "verbose" mode if you're using Chrome

[2021-04-30 17:10] jschank commented on #242
You are correct - enabling verbose mode did the trick.
Closing issue

[2021-04-30 17:10] #242 closed

[2021-05-04 06:45] ishanuda opened #243 "debug does not work any more"
Hi,
After the update to v4.2.1 with angular 11` logger.debug(''); `not working.
But other methods (log, error, info etc.) works well.

Env details:
"ngx-logger": "^4.2.1",
"@angular/core": "~11.2.12",
"typescript": "^4.0.3",

Thank you

[2021-05-04 06:47] bmtheo commented on #243
You need to enable "verbose" mode in your browser

[2021-05-04 06:52] ishanuda commented on #243
Hi @bmtheo ,

This was a cool feature added, Is this mentioned in the documentations some where or in the release info.
Because I did not find any info.

Thank you very much

[2021-05-04 06:55] bmtheo commented on #243
No it's not mentioned yet but it should !

If you have time feel free to submit a PR

I am closing this issue

[2021-05-04 06:55] #243 closed

[2021-05-04 07:53] ishanuda commented on #243
Updated the change log and created the PR.
Should you require to update the README as well?

[2021-05-04 20:18] bmtheo commented on #243
Yes I've done it, thx
Referencing #244

[2021-05-14 14:02] MickL opened #252 "Build for Angular 12 with partial-ivy"
Using ngx-logger in my library I get:

Could you make a build with partial-ivy as described here: https://angular.io/guide/creating-libraries ?

[2021-05-14 20:08] bmtheo commented on #252
Doing the partial-ivy build would probably remove that error, but you can get around this by removing your node_modules and installing again
It worked for another user, he documented it in #233

[2021-05-23 12:19] #229 closed

[2021-05-28 19:59] septst opened #256 "Logging Logger Level by Name instead of Enum"
Hello,

First of all, I would like to say that this ngx-logger is brilliant. **What I am about to complain about is probably trivial or more of a personal preference rather than an issue.** I have noticed that the log level is being passed as enum while posting to my api to log/save into mongo db. I think it would be better to log it by log level name for better readability. The below is my table

[2021-05-28 20:02] bmtheo commented on #256
Thanks for your message

I'm currently working on v5 where everything will be fully customisable and you will easily be able to add a field or to customise a field sent to the server

Stay tuned :)

[2021-05-28 20:03] septst commented on #256
Brilliant! Cheers!

[2021-05-28 20:05] bmtheo commented on #256
I'm keeping this issue open and I'll provide the actual answer when the v5 is out so that people finding this issue will have the solution at hand

[2021-05-28 21:05] bmtheo commented on #220
Yes I understand, your use case can be done with NGXLoggerMonitor

You can implement the onLog function and this will be called everytime the logger is called

This would look like this :

[code]

Once you have this service ready you need to register it for your logger
[code]

Please note that the onLog function will slightly change in v5 but it will still work the same way

[2021-05-28 21:23] willy-safely opened #257 "Logs not showing on MacOS big sur chrome browser"

[2021-05-29 04:57] bmtheo commented on #257
Closing this issue, please provide more information if you reopen

[2021-05-29 04:57] #257 closed

[2021-05-31 03:15] willy-safely opened #258 "ngx-logger: "^4.2.2" not working with macos big sur chrome browser"
Logs not workin with Chrome browser:
![image](https://user-images.githubusercontent.com/71280139/120134269-bf639c00-c19b-11eb-8624-5b0ba24045d7.png)

![image](https://user-images.githubusercontent.com/71280139/120133972-23399500-c19b-11eb-99da-8a26aeb4229d.png)
But it works with Safari, also works with Windows Chrome browsers, verified this is not showing with macbook pro M1 2020 and macbook pro i

[2021-05-31 08:09] bmtheo commented on #258
You need to enable all debug levels in chrome

In your screenshot you have "default levels" this does not take account of Debug and Trace

[2021-06-01 14:27] willy-safely commented on #258
Thank you, that did the trick.

[2021-06-01 14:27] #258 closed

[2021-07-13 07:56] StefDardennePXL opened #259 "ngx-logger 4.3.1 not compiling on ng serve (Angular v12)"
Hi community,

Thank you for publishing the package ngx-logger, it helps us a lot.

After installing the package by following the steps in the docs, my application wouldn't serve anymore due to missing dependencies on the entrypoint 'ngx-logger'. I already tried reinstalling my node_modules (also removed package-lock.json) and cleared the npm cache.

v4.2.2 seems to work just fine.

v4.3.1 throws

[2021-07-13 11:04] SnakeSVx commented on #259
Same issue after upgrading to the latest version 4.3.1.

Cannot find module 'ngx-logger' or its corresponding type declarations.

1 import { NGXLoggerMonitor, NGXLogInterface } from 'ngx-logger';
[code]

[2021-07-13 11:39] vinayjangir7 commented on #259
I am facing a similar issue.

[2021-07-13 11:56] carlos-ch commented on #259
Same issue!
<img width="1108" alt="Screenshot 2021-07-13 at 13 56 17" src="https://user-images.githubusercontent.com/61248286/125447540-3d3689b5-c1a3-406c-8eba-aca433cbccb2.png">

[2021-07-13 12:48] dbfannin commented on #259
Good morning. It looks like there was an issue when publishing the library with 4.3.1. This should be resolved in v4.3.2 Sorry for the inconvenience!

@StefDardennePXL - If you don't mind closing out this ticket once you've verified 4.3.2 works for you. Thanks!

[2021-07-13 14:50] #259 closed

[2021-07-19 14:06] viceice opened #260 "Version 4.3.* are missing changelog"
All v4.3.* versions are missing in changelog and releases.

[2021-07-21 16:17] joaopalma5 opened #261 "Can't access to NGXLogger in app.init.ts, got undefined"
Hello,
Can't access to NGXLogger in app.init.ts, got undefined. In below, I show relevant part of the code:

app.module.ts
[code]
app.init.ts
[code]

[2021-07-22 12:37] bmtheo commented on #261
I'm not aware of such file "app.init.ts", any chance you give us a repro so I can understand what is going on ?
You can use this tool to share the reproduction code https://stackblitz.com/

[2021-08-05 09:33] dungtran98 commented on #57
![image](https://user-images.githubusercontent.com/51997678/128327898-5c5988f1-0518-4f69-b2ce-2cdb1943fbb1.png)
can i change ./src/app/app.component.ts:222 -> webpack:///./src/app/app.component.ts:222

[2021-08-05 19:32] bmtheo commented on #57
I think for now it's not possible, it's coming with V5 :)

[2021-08-16 04:44] dungtran98 commented on #58
hi @dbfannin  @jkossis . How do i change from ./src/app/app.module to webpack:///.src/app/app.module?
![image](https://user-images.githubusercontent.com/51997678/129512450-64613847-5dd1-481a-a4b8-1b5dc3152d01.png)

[2021-08-19 08:28] jonycoo opened #264 "npm conflict zones.js"
Hello,
it does'nt seem to automaticly install version ~0.10.3 of zone.js.
please tell me if its just my local problem.

npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: Project@0.3
npm ERR! Found: zone.js@0.11.4
npm ERR! node_modules/zone.js
npm ERR!   zone.js@"~0.11.3" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer zone.js

[2021-09-06 09:25] DirkStorck opened #266 "Problem logging message with JSON as additional data"
Hi,

I have the following problem. If I log a message witch has a JSON as addition data the message that gets logged isn't formatted correctly anymore.

`
  ngOnInit(): void {
    const data = {
      key1: 'value 1',
      key2: 'value 2',
      key3: 'value 2',
    };
    console.log('Data to be logged: ', data);

    this.logger.debug('TEST 1 with additional data', data);
    this.logger.debug(

[2021-09-06 09:41] bmtheo commented on #266
Hello,

Can you do these things and tell me if you have anything different

- What NGXLogger version are you using ? (please update if not last version)
- Do you have the same behavior in a browser ?
- Do you have anything special in Logger config ?

If nothing helped you out, please give me a repro so that I can investigate
Because I tried it (see here https://stackblitz.com/edit/angular-ivy-uhbm

[2021-09-06 09:56] DirkStorck commented on #266
Hi,

thanks for your answer.

1) I am using:     "ngx-logger": "^4.3.3",
`
"engines": {
    "node": "^14.16.1"
  },
  "dependencies": {
    "@angular/animations": "12.0.3",
    "@angular/cdk": "^12.0.3",
    "@angular/common": "12.0.3",
    "@angular/compiler": "12.0.3",
    "@angular/core": "12.0.3",
    "@angular/flex-layout": "^12.0.0-beta.34",
    "@angular/forms": "12.0.3",
    "@angular/mate

[2021-09-06 11:23] DirkStorck commented on #266
I did a little testing:
![example_1](https://user-images.githubusercontent.com/2306190/132209833-dd9db48e-1b99-48f4-9a27-50525d25eb4f.png)

It looks like that console.log() has problems with additional data.....or the console of the terminal in "Visual Studio Code"

[2021-09-07 06:36] bmtheo commented on #266
Ok I think it has something to do with Visual Studio Code because it works in your browser
V5 should be out soon (I'm waiting for last review) and most of the code is changed, so it will probably fix this issue too
I'll ping you here when this is ready

PS : To see logs correctly in stackblitz you need to use the project URL (https://angular-ivy-uhbmq4.stackblitz.io/)

[2021-09-07 07:12] DirkStorck commented on #266
Hi,
ah ok. Thanks for the information and for your help and thanks for keeping me updated about V5.
I can live with that till V5 comes out....do you maybe know an addon for VSC that show the browser console? Googleing around a read somewhere that debug console of VSC only supports a small amount of styling functions for a log message.

Thanks and have a nice day.

[2021-09-08 14:48] s-gbz commented on #87
@dbfannin could you shortly elaborate when `LoggerTestingModule` is necessary?
I've written several tests in which I merely provided `NGXLoggerMock`, however I've had recent cases that required `LoggerTestingModule`. I can't make sense of it.

Thanks a lot for your valuable time and the library!

[2021-10-20 17:16] kussmaul opened #268 "add import in sample code for testing in README.md"
Please add the following import statement to the sample code for testing in `README.md`:

        import { LoggerTestingModule } from 'ngx-logger/testing';

[2021-11-02 16:42] klemensz opened #269 "Cannot filter messages in console of Chrome DevTools"
Hi,

This seems to affect only Chrome (testing with latest version 95), but not Firefox, for example. If I have these log messages for example:

<img width="855" alt="Bildschirmfoto 2021-11-02 um 17 35 09" src="https://user-images.githubusercontent.com/1116517/139907666-ef574194-8b66-4309-9e71-181c6c89968d.png">

Then searching for "Initializing" won't give any results:

<img width="854" alt="Bild

[2021-11-02 17:56] bmtheo commented on #269
It looks like it is an issue with Chrome indeed

You can reproduce with this line :
[code]

From what I can tell, Chrome is not filtering arguments of console logs anymore

[2021-11-02 18:24] klemensz commented on #269
I tested with more browsers now:

* Safari (15.1)
* Firefox (93.0)
* Opera (80)

In all of these browsers I could not reproduce the issue.

[2021-11-02 18:58] bmtheo commented on #269
Thanks for your tests, I didn't find any issue on Chrome tracker

By any chance if you can open one that'd be great

[2021-11-02 19:27] klemensz commented on #269
Do you mean the Chromium bug tracker? https://bugs.chromium.org/p/chromium/issues/list

[2021-11-03 17:45] bmtheo commented on #269
Yes, that way they can tell us if it's a bug or if it's expected behavior (to me it looks like a bug but we never know)

Depending on their answer we will see if we need to do something or not

[2021-11-07 11:21] #268 closed

[2021-11-07 11:26] bmtheo commented on #266
Hello again
Just for information the v5 is out just now :)

From what I remember your issue is only linked to VSCode so it might not fix it, but it's worth a try

Sadly I don't know about such addon for VSCode

[2021-11-07 11:27] bmtheo commented on #264
Hi there,
I didn't quite understand your problem, but I just published the v5 so maybe it will fix your issue

[2021-11-07 11:30] bmtheo commented on #260
Hi
I just published v5 and I added the most changelog I could because the code was "almost" fully reworked

[2021-11-07 11:32] bmtheo commented on #252
Hi again
I just published v5 of the logger, can you see if you still have the issue ?

[2021-11-07 11:34] bmtheo commented on #241
Hi there
According to the error, it looks like the issue stands in your project and not in ngx-logger, am I wrong ?
```Error: C:\loggers\log3\src\main.ts is missing from the TypeScript compilation```

Anyway I just published v5 so you can try again and see if you still have an issue

[2021-11-07 11:38] bmtheo commented on #239
Hi @bjorntj

It is now possible to that by customising server.service.ts
The doc on how to customise a behavior is here : https://github.com/dbfannin/ngx-logger/blob/master/docs/customising.md

In your case you need to code your own class
Something like this should work
[code]

[2021-11-07 11:40] bmtheo commented on #233
Hi, thanks for the information

As mentioned this issue is not directly linked to ngx-logger so I close it, but pretty sure some people stumbled upon this and you helped them :+1:

PS : Also v5 was just published now so it might fix some issues too

[2021-11-07 11:40] #233 closed

[2021-11-07 11:42] bmtheo commented on #220
v5 is now out and indeed the onLog function has changed a little
It still allows you to do what you asked for

The function looks like this now:
[code]

Closing the issue

[2021-11-07 11:42] #220 closed

[2021-11-07 11:46] bmtheo commented on #219
Hi @MickL,
I just published v5 that allows you to customise any behavior of the logger and that would be enough for your feature
The doc is here :
https://github.com/dbfannin/ngx-logger/blob/master/docs/customising.md
In your case you would need to customise the metadata.service.ts

Still your feature request is probably something I'll look into

[2021-11-07 11:47] bmtheo commented on #218
Yes DatePipe was added thus fixing the issue

[2021-11-07 11:47] #218 closed

[2021-11-07 11:49] bmtheo commented on #196
Hi @amilor
Any chance you try again to see if the issue still stands ?
The v5 was just published and it changes a good portion of the code

[2021-11-07 11:56] bmtheo commented on #185
Hi @mario45211
The feature is now "properly" available
To do such thing you need to customise log behavior (doc is here : https://github.com/dbfannin/ngx-logger/blob/master/docs/customising.md)

In your case you would need to extends NGXLoggerMetadataService and tweak the message in there

Starting example:
[code]

[2021-11-07 11:56] #185 closed

[2021-11-07 12:28] #196 closed

[2021-11-07 16:02] kussmaul commented on #268
Thank you!

[2021-11-08 09:57] #134 closed

[2021-11-08 10:00] bmtheo commented on #134
@dsebastien it now possible to not import HttpClientModule :)
You need version 5.0.2

[2021-11-08 10:01] bmtheo commented on #211
#134 just closed, HttpClientModule import is now optional :)
@markterrill @MickL

[2021-11-08 10:02] #239 closed

[2021-11-08 16:44] bmtheo commented on #260
Ok I reread all the commits and update changelog accordingly for missing versions

[2021-11-08 16:44] #260 closed

[2021-11-08 18:42] #256 closed

[2021-11-08 18:43] bmtheo commented on #256
For anyone stumbling on the issue, this is now possible
A full example is here "(example) Adds a property to the server log" https://github.com/dbfannin/ngx-logger/blob/master/docs/customising.md

[2021-11-10 11:36] danarad05 opened #272 "Exception on application start - "Uncaught TypeError: Cannot read properties of undefined (reading 'id')""
Getting error when application is starting

![image](https://user-images.githubusercontent.com/71069170/141101320-a8dd3223-5df9-483e-b78b-c94043104b9c.png)

When debugging - I can see that module is ngx-logger module
![image](https://user-images.githubusercontent.com/71069170/141101560-fe4be47d-1cd4-4dcc-8413-f72d0e4a6670.png)

This is from AppModule settings:
[code]

Details:
Windows 10
Chrome  9

[2021-11-10 12:44] bmtheo commented on #272
Any chance you provide a repro ?

If you know, do you have the same issue with another version of angular ?

[2021-11-10 21:36] #264 closed

[2021-11-12 15:04] klemensz commented on #269
I just noticed the same behavior now in Opera 81.0 which seems to have the Chrome 95 DevTools under the hood.

[2021-11-15 14:47] amm95 opened #273 "An accessor cannot be declared in an ambient context."
Hi Team,

I'm facing this issue when I try to start my app.

Version used : 4.2.1

ERROR in node_modules/ngx-logger/lib/logger.service.d.ts:23:9 - error TS1086: An accessor cannot be declared in an ambient context.
get level(): NgxLoggerLevel;

node_modules/ngx-logger/lib/logger.service.d.ts:25:9 - error TS1086: An accessor cannot be declared in an ambient context.

 get serverLogLevel(): NgxLogge

[2021-11-15 14:57] bmtheo commented on #273
Quick look online tells me this is related to package compatibility

Please try to fix your package by making sure typescript/angular/ngxlogger versions are on the same page

If this is still not working, you can reopen and provide a repro so that I can look into it

[2021-11-15 14:57] #273 closed

[2021-11-17 09:49] sergiocapozzi77 commented on #269
I've opened the Issue 1271075...not sure if someone had already opened it.

[2021-11-17 10:45] DirkStorck commented on #266
Hi, Thank you for the information. My Problem with the VSC console still exists but in the browser console is everything fine. Would be nice if the VSC debug console would support it as well.

[2021-11-18 21:07] bmtheo commented on #266
yes indeed, closing this one because we can't do anything about VSC console

[2021-11-18 21:07] #266 closed

[2021-11-18 21:15] bmtheo commented on #269
amazing thanks, just adding the complete link if someone is not familiar with crbug
https://crbug.com/1271075

tips if you want it to draw more attention you can "star" the issue (top left corner), you also receive notifications that way (@klemensz)

[2021-11-19 09:25] klemensz commented on #269
Thanks, I just starred it and also added a link back to this issue here.

[2021-11-24 09:28] EnricoVogt opened #275 ""Encourage the library authors to publish an Ivy distribution.""
During the build of a project, angular issues the following message:

`- ngx-logger [es2015/esm2015] (git+https://github.com/dbfannin/ngx-logger.git)
Encourage the library authors to publish an Ivy distribution.`

[2021-11-26 20:26] MRisto commented on #219
Would also be intrested in something like this. nestjs-pino has the option to setContext for the logger in a service. I find that really handy.

[2021-11-28 08:46] bmtheo opened #277 "ngx-logger is not compatible with Ivy"
We need to make ngx-logger compatible with Ivy

Documentation is here : https://angular.io/guide/creating-libraries#ivy-libraries

Some errors that were sent :
`
ngx-logger [es2015/esm2015] (git+https://github.com/dbfannin/ngx-logger.git) Encourage the library authors to publish an Ivy distribution.
`

and

[2021-11-28 08:47] bmtheo commented on #275
Yes I created an issue to merge all existing issues about Ivy, if you want to see updates please subscribe to #277

Thanks for your feedback

[2021-11-28 08:47] #275 closed

[2021-11-28 08:48] bmtheo commented on #252
I created an issue to merge all existing issues about Ivy, if you want to see updates please subscribe to #277

Thanks for your feedback

[2021-11-28 08:48] #252 closed

[2021-11-28 08:48] bmtheo commented on #241
Your issue looks like an internal problem, but anyway I created an issue to merge all Ivy related problems, see #277

[2021-11-28 08:48] #241 closed

[2021-11-28 17:33] bmtheo commented on #277
@EnricoVogt @MickL @pcouas just started the branch to fix this issue here https://github.com/dbfannin/ngx-logger/tree/build-partial-ivy

According to angular docs, it should be ready (I just set an option to "partial"), but I don't have much knowledge on how this works
So if any of you can test or provide any relevant infos about this, that would be greatly appreciated

[2021-11-28 21:49] MickL commented on #277
I think you should remove enableIvy and then the partial should be all it needs

[2021-11-30 22:33] bmtheo commented on #277
Thanks for your feedback

This is what I initially did but I had some build errors

The key thing was to update angular to v13 and then do that

Now it should be all ok, just leaving my PR so I can review it later and then I'll publish the Ivy compatible (see #278)

[2021-12-03 19:34] ghorsey-opt opened #279 "Feature Request: Batch Server Logging"
It would be great to have log messages queued up and then published in batch not to flood the browser with network calls for individual log messages.

I think it would be cool to have a setting `serverLogBatchSize` that is initially set to 1 to maintain the current behavior.
If the setting is set to something larger than 1, then that many log messages will be accumulated before publishing them to

[2021-12-06 10:29] Alfagun74 opened #280 "Can't get tests running with Angular 13.0.3"
Hi i just updated my Project to Angular 13.0.3 and got a  failing test using the LoggerTestingModule like this:

[code]

The Error when running the tests is:
[code]

Am i doing something wrong or does this library need an update for Angular 13 support?

[2021-12-06 19:49] #277 closed

[2021-12-06 19:54] bmtheo commented on #277
Just published 5.0.4 that fixes the issue

[2021-12-06 19:55] bmtheo commented on #280
Just published 5.0.4 that builds the lib with angular v13, can you check if this fixes the issue ?

[2021-12-06 20:00] Alfagun74 commented on #280
Thanks man. I'll write here tomorrow @ work when i checked it

[2021-12-07 08:48] Alfagun74 commented on #280
@bmtheo works great now, good job!

[2021-12-07 08:48] #280 closed

[2021-12-07 20:21] EnricoVogt commented on #277
Great! Thank you for your work!

[2021-12-11 01:30] KyDenZ opened #281 "V5 Not working with Jest"
I am using ngx-logger in an Angular project and jest for testing. While wanting to go from V4 to V5 of ngx-logger, I have an error message when I run the tests with jest:

[code]

I have tried various configuration in jest.config, but cannot find a solution.

[2021-12-11 06:30] bmtheo commented on #281
It says
`By default "node_modules is ignored by transformers`
And
`To have some of your "node_modules" files transformed, you can specify a custom "transformIgnorePatterns" in your config`

So did you try removing `transformIgnoreParterns` from your config ?

[2021-12-14 13:48] KyDenZ commented on #281
Yes of course I tried.

I'm trying to make a new angular project to show you the error

[2021-12-14 13:51] bmtheo commented on #281
Ok that would be amazing if you have a repro so that I can look into it

[2021-12-14 15:54] KyDenZ commented on #281
After hours of research ... It works!

For those who encounter the problem:

Update to the new version just released from `@briebug/jest-schematic` and replace latest from the `@angular-builders/jest` package automatically added with a version greater than or equal to: `13.0.1`

thank you @bmtheo for suggesting solutions!

[2021-12-14 15:54] #281 closed

[2022-01-07 19:04] JanPhill opened #282 "Setting the log level on an instance not working"
Hi,

with v5.0.4 and Angular 13 setting the log level only on an instance does not seem to be working anymore.

I created an example based on the working example from #204 here: https://stackblitz.com/edit/angular-ivy-7rmfqg?file=src/app/app.component.ts

Any help or fix would be greatly appreciated.

Thanks, Jan

[2022-01-10 09:01] bmtheo commented on #282
Indeed this does not seem correct

I need to double check Angular DI rules when using providers, the goal of the lib is to match DI behavior so users can do what they want with NGXLogger instances

Note to self : This might be related to how config and configEngine are provided

[2022-01-10 13:51] JanPhill commented on #219
Hi @bmtheo,
could you provide an example on how to set a context within a component using the metadata.service.ts?

I also really like the idea of being able to set a context using a method like `logger.setContext()` as @MickL suggested.

[2022-01-11 13:42] eivanphils commented on #138
Hi, I had the same problem, but I can solve it. I install this version "ngx-logger": "^4.3.3"

It's necessary to add HttpClientModule into app module. Like this:

![image](https://user-images.githubusercontent.com/1909869/148953364-c04e47ca-fdb6-4696-a7ef-96a7e5869e4d.png)

[2022-01-11 13:42] eivanphils commented on #67
Hi, I had the same problem, but I can solve it. I install this version "ngx-logger": "^4.3.3"

It's necessary to add HttpClientModule into app module. Like this:

![image](https://user-images.githubusercontent.com/1909869/148953364-c04e47ca-fdb6-4696-a7ef-96a7e5869e4d.png)

[2022-01-15 11:16] bmtheo commented on #282
As stated in the doc @JanPhill is right, the providers array in component create a new instance of NGXLogger thus it should not share the same config
Source : https://angular.io/guide/providers#injector-hierarchy-and-service-instances

[2022-01-15 14:16] #282 closed

[2022-01-15 14:34] bmtheo opened #284 "ngx-logger does not compile anymore (since 5.0.5)"
After the move of the testing project, the package ngx-logger fails to compile when imported in other projects

Errors :

[code]

[2022-01-15 15:06] #284 closed

[2022-01-15 15:16] bmtheo commented on #284
If you have this error, please use v5.0.6+ thx

[2022-01-21 14:14] fbo3264 opened #286 "NGXLoggerServerService - sendToServer sends original message instead of secured one"
In the `sendToServer` method of `NGXLoggerServerService` a copy of the metadata is created and any modifications by `secureAdditionalParameter` or `secureMessage` are performed on the copy, which is fine of course. However, afterwards when determining the `requestBody` the original `metadata`-object is used, which means all modifications of `localMetadata.message` get ignored. If - for example - a

[2022-01-21 14:45] bmtheo commented on #286
Yes indeed ! thanks for this feedback

I'll fix this in the weekend

[2022-01-21 16:54] JanPhill opened #287 "Setting log level for a specific service"
Hi,
thank you very much for fixing #282.

Setting the log level for a specific component works fine now by directly providing the logger service to the component.

Could you please provide an example how the same behaviour can be achieved for services? For example I would like to set the log level for one service to TRACE and for another service to ERROR.

Thanks,
Jan

[2022-01-22 15:25] #286 closed

[2022-01-22 15:27] bmtheo commented on #286
Fix available in 5.0.7 :)

[2022-01-23 11:40] fbo3264 commented on #286
Thanks a lot, works perfectly now! :)

[2022-01-30 09:45] bmtheo commented on #287
You should look into angular DI to see how this can be done (I don't know it myself)

Starting path can be this SO post : https://stackoverflow.com/a/35758310/9880876

[2022-02-01 09:34] spyro2000 opened #289 "Chrome: SourceMap links not working"
Hi there,

loving this library, using it every day with pure joy! :)

One of the coolest features might be the generated links to jump directly to the source. For some reason, that doesn't work for me. Clicking on one of the links just opens a new tab to about:blank instead:

Angular version 13.0.2:
ngx-logger version: 5.0.7
Chrome version: 97.0.4692.99

Configuration:

[code]

- I started angular

[2022-02-02 10:15] spyro2000 opened #290 "Suggestion: Allow starting log message on new line"
Hi,

It would be much easier to read, if log statements would start after a linebreak after timestamp, file details and line number. This way the actual messages would all be alligned at the same place.

**Currenty:**

[code]
**Suggestion (optional):**

[code]

Basically, it should be possible to prefix each log message with a '\n'. Maybe there could be an optional config key like 'linebreakBefore

[2022-02-08 12:20] mohit7875 commented on #29
@dadasokarande can you please mention serverside file name?and where to add

[2022-02-15 12:34] acfaruk opened #293 "Dependency on DatePipe causing circular dependency if the LOCALE_ID provider uses the logger."
In our project we want to provide the LOCALE_ID by using a service. However this service and some of its dependencies use the logger. Meaning we end up with a circular dependency issue.

The question becomes if the library should depend on LOCALE_ID or not. Meaning currently the logger uses the project LOCALE_ID to format the date. It might make more sense to format uniformly, and not depending on

[2022-02-17 16:06] sylvain-gaborit commented on #289
hello,

I have the same problem.

Angular version 13.2.0:
ngx-logger version: 5.0.7
Chrome version: 98.0.4758.102

[2022-02-17 17:18] spyro2000 commented on #290
Any reaction....? :)

[2022-02-17 19:39] bmtheo commented on #289
Yes it is but I am the only active maintainer for now

I am open to PR if you have time

About this issue, is the location of the log line correct ? (In your example "./sec/app/core/components/.../grid-settings-store.service.ts:46:0")

[2022-02-17 19:52] bmtheo commented on #290
Yes this is currently possible

You need to overwrite writer.service.ts and then provide it in the module (see more info about this in [customising doc](https://github.com/dbfannin/ngx-logger/blob/master/docs/customising.md))

Code would look like this (untested) :
[code]

[2022-02-17 20:11] bmtheo commented on #269
Chromium stated that this was a bug

They are fixing it (see more info on this issue : https://bugs.chromium.org/p/chromium/issues/detail?id=1263070)

I'm closing this one

[2022-02-17 20:18] bmtheo commented on #219
This is not exactly what was asked, but it is manageable that way :

You need to overwrite writer.service.ts and then provide it in the module (see more info about this in [customising doc](https://github.com/dbfannin/ngx-logger/blob/master/docs/customising.md))

Code would look like this (untested) :
[code]

[2022-02-18 07:37] spyro2000 commented on #290
Many, many thanks. Will try this and report back, if it works. :)

[2022-02-18 08:23] spyro2000 commented on #287
I had to do it this way:

`logger.updateConfig({...logger.getConfigSnapshot(), level: NgxLoggerLevel.TRACE})`

It would be great if I could just use something simple as

`log.setLogLevel(NgxLoggerLevel.TRACE)` (doesn't work)

[2022-02-20 14:46] bmtheo commented on #287
@spyro2000 this is not exactly what @JanPhill asked

Your code works to change log level but @JanPhill wants to change it only in one service

For this to work, the instance needs to be specific to the service, and Angular DI should allow us to do that

[2022-02-20 15:46] #293 closed

[2022-02-20 16:06] bmtheo commented on #293
Ok DatePipe is now optional in version 5.0.8 :)

[2022-02-20 16:08] bmtheo commented on #290
Ok great

I'm closing this for now, the goal of making the lib customisable is to allow users to tweak behaviors as they like (your issue is a good example)

[2022-02-20 16:08] #290 closed

[2022-02-20 16:38] spyro2000 commented on #290
Ok, last try ;)
Maybe it would be a good idea to make this the default behavior so each message starts at the begin of a line? It's much more easy to read IHMO.

[2022-02-21 17:42] acfaruk commented on #293
Thank you for the quick fix. 👍

[2022-02-23 15:50] bmtheo commented on #290
Thanks for your suggestion but I don't think changing the default behavior makes sense

[2022-02-23 17:19] spyro2000 commented on #290
I see, that's why I suggested to add a configura... - never mind. Thanks anyway ;)

[2022-03-02 18:22] hmendezm opened #298 "Issue in using ngx-logger in an angular library (buildable)"
Hi guys,
I am trying to use ngx-logger in my buildable library but I got the error below
core.mjs:6500 ERROR NullInjectorError: R3InjectorError(AppModule)[TestService -> TestService -> TestService -> NGXLogger]:
  NullInjectorError: No provider for NGXLogger!

### app/module

[code]

### library module
[code]

[2022-03-02 19:46] bmtheo commented on #298
Do you build the library by itself or with the app ?

[2022-03-02 20:13] hmendezm commented on #298
Hi bmtheo,

I build the library with the app

[2022-03-03 20:24] bmtheo commented on #298
Ok I tried in the project with the same setup (app.module with LoggerModule.forRoot and another module with LoggerModule.forChild) and it works fine

We probably have something different, can you provide a reproduction repo so that I can look into that ?

[2022-03-04 14:20] hmendezm commented on #298
Ok. I will create a simple app and reproduce the problem

[2022-03-04 17:59] hmendezm commented on #298
I could not reproduce in a new project. it looks like is a real project that has config problems and I do not know where.
this is the full error that I get

bootstrap.ts:13 NullInjectorError: R3InjectorError(AppModule)[EffectsRootModule -> InjectionToken @ngrx/effects Root Effects -> AuthenticationEffects -> AuthenticationService -> StateService -> FormService -> FormService -> FormService -> Logg

[2022-03-06 21:04] bmtheo commented on #272
Closing this issue because I could not reproduce and user does not give more information

Feel free to comment on this issue if you have the problem, and hopefully you can give more infos

[2022-03-06 21:04] #272 closed

[2022-03-06 21:05] bmtheo commented on #261
Closing this issue becauseuser does not give more information

Feel free to comment on this issue if you have the problem, and hopefully you can give more infos

[2022-03-06 21:05] #261 closed

[2022-03-26 13:32] BenniG82 commented on #289
This works for me:

Extend the NGXLoggerWriterService with your own implementation that removes the leading "." and adds 'webpack://'.
[code]

Configure ngx-logger to use is:
[code]

Maybe there is a better way, but this works (at least on my machine :D )
How I came up with `webpack://`? Thats what I saw, when hovering over the source of console.log statements:
![image](https://user-images.githubu

[2022-04-01 09:21] spyro2000 commented on #289
This works!! So many thanks!

So together with the fix for the missing linebreak before the actual message the writer should look like this:

[code]

(For some reason there is still an additional space added before the start of the actual message but it's already way more readable).

[2022-04-01 15:58] summerbasehart opened #301 "issue with angular core dependency"
Hello,

Trying to do a build in angular and I am getting some core dependency errors

Error: ./node_modules/ngx-logger/fesm2015/ngx-logger.mjs 900:58-80
Can't import the named export 'ɵɵngDeclareInjector' from non EcmaScript module (only default export is available)

Error: ./node_modules/ngx-logger/fesm2015/ngx-logger.mjs 899:58-80
Can't import the named export 'ɵɵngDeclareNgModule' from non Ecma

[2022-04-11 15:24] sunsgs opened #303 "support for app insights"
Is it possible to log not only in console but also to app insights?

[2022-04-11 21:33] bmtheo commented on #303
The logger lets you send logs to an API

See more here https://github.com/dbfannin/ngx-logger/blob/master/docs/features.md#server-side-logging

[2022-04-19 14:10] mattlocker commented on #279
I did this by configuring a custom NGXLoggerHttpService with some rxjs magic ;) maybe this helps

`export class CustomNgxLoggerHttpService extends NGXLoggerHttpService {
  private logEventCache: Subject<CustomNgLogMessage> = new Subject<CustomNgLogMessage>();

  constructor(
    private backend: HttpBackend,
    private config: CustomNgLoggerConfig
  ) {
    super(backend);
    this.initLogging();

[2022-05-05 08:25] minademian commented on #301
Had the same error. I'm running Angular 11. Documentation says that the library supports 6+.

[2022-05-24 16:22] #303 closed

[2022-05-24 16:23] bmtheo commented on #301
Thanks for sharing your solution

Documentation might not be up to date about versions that are supported

[2022-05-24 17:27] bmtheo commented on #287
Ok here is a way to do it (you need to have version 5.0.10 for this syntax to work)

[code]

[2022-05-24 17:27] #287 closed

[2022-05-24 21:35] #219 closed

[2022-05-24 21:37] bmtheo commented on #219
Feature is available in 5.0.11
See doc here https://github.com/dbfannin/ngx-logger/blob/master/docs/features.md and full example here https://github.com/dbfannin/ngx-logger/tree/master/projects/demo/src/app/custom-instance

[2022-05-24 21:46] bmtheo commented on #301
Documentation (on github, npmjs will be updated when next publish happens) is updated with a warning about this topic, ideally we should have a "matching table" for versions

[2022-05-27 09:08] bmtheo commented on #287
It should come from ngx-logger, don't you have it ?

[2022-05-30 02:58] BenjaminHutchinson opened #306 "Cannot build while using ngx-logger and the typescript flag 'exactOptionalPropertyTypes'"
Hi,

I am currently unable to build my project while using your library and having turned on the typescript flag 'exactOptionalPropertyTypes'. I believe there is an out of date dependency but I am confused as to how this is occuring as the dependencies on your project are dev dependencies which should avoid bringing in the old angular version.

https://www.typescriptlang.org/tsconfig#exactOptional

[2022-08-12 10:18] spyro2000 opened #307 "Can't use timeStampFormat because DatePipe is not provided"
I recently updated Angular 13->14 and ngx-logger 5.0.7 -> 5.0.11.
Since then, my custom date format isn't working anymore:

Error log:
`Can't use timeStampFormat because DatePipe is not provided. You need to provide DatePipe`

I couldn't find any information, how I need to provide this to ngx-logger unfortunately. Is there any code example available?

Here's my current logging config:

[code]

Man

[2022-08-12 11:02] bmtheo commented on #307
You need to provide DatePipe in your module where NGX logger is used, see documentation here https://angular.io/api/common/DatePipe

DatePipe import was removed from NGX logger because it's not mandatory

[2022-08-12 11:07] spyro2000 commented on #307
@bmtheo,

many thanks, but in this I would have to many dozens of modules. For the devs, it's not really obvious that they have to import a DatePipe to make the logging not break. If there isn't a possibility to import that globally, I'll just downgrade ngx-logger to make this work again.

But thanks anyway. :)

[2022-08-12 14:18] bmtheo commented on #307
Yep I know, to avoid this you can create a module to automatically import NGXLogger and its specific dependencies

It will require to update all NGXLogger import but at least, you won't have any trouble at runtime

[2022-08-12 14:18] #307 closed

[2022-08-12 15:19] bmtheo opened #308 "Add documentation about angular version dependencies"
There is no documentation about which angular version is needed for which NGXLogger versions

That would be great to have one

[2022-08-12 15:38] bmtheo commented on #308
According to a user on Discord, NGXLogger 4.3.3 uses Angular 11 (11.2.8 in the example)

[2022-08-20 07:25] bmtheo opened #309 "List errors and document them"
For now errors are just displayed in the console

To improve the readability, it would be nice to list them (have a single code for each errors) and provide documentation
When the error is displayed, it also displays the link to the documentation

[2022-09-05 12:32] Halfist opened #310 "Subscribe to Logger Methods"
I have some cases in my app, where I need to do something like this:

[code]

Obviously, log request is getting canceled, because calling document is destroyed before it completes.

So, it'd great to be able to subscribe to logger methods like this:

[code]

or

[code]

[2022-09-12 20:02] bmtheo commented on #310
Yes indeed

This would require some thinking whether we include the API request in this or not

[2022-09-12 20:04] bmtheo commented on #279
This would be nice to have a flush method that allows users to send all current logs to API as well

[2022-10-11 21:33] david-hollifield commented on #279
@mattlocker I know I'm just being an idiot and missing something obvious, but how do you get the logger to use your new super-cool CustomNgxLoggerHttpService?

[2022-10-12 06:50] mattlocker commented on #279
@david-hollifield there are no stupid questions ;)

Simply set the provider, like this:
`
import {TOKEN_LOGGER_SERVER_SERVICE} from 'ngx-logger';
....
  static forRoot(config: JosefNgLoggerConfig): ModuleWithProviders<LoggerModule> {
 ....
providers: [
  { provide: TOKEN_LOGGER_SERVER_SERVICE, useClass: JosefNgxLoggerHttpService }
]`

see here: https://github.com/dbfannin/ngx-logger/blob/master/sr

[2022-10-12 15:38] david-hollifield commented on #279
@mattlocker that's the secret sauce I was missing. Thanks so much!

Oh, you haven't met me ;)

[2022-10-13 20:06] dnordahl1 commented on #308
I'm in the process of updating from Angular 8 to Angular 14, and I'm wasting a lot of time on this module in particular playing trial and error with which version goes with each major release of Angular.

[2022-10-13 20:19] bmtheo commented on #308
That would be amazing to summarize your findings here so that we can include this in the documentation and other people won't lose this time

[2022-10-13 20:29] dnordahl1 commented on #308
4.3.3 seems to at least compile with angular 9 while earlier versions I tried did not.